.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.heading {
  color: #00e7ff;
  font: larger;
}
.table {
  color: white;
  width: 100%;
  border: solid;
  border-radius: 12px;
  border-color: #00e7ff;
}
.coin-type {
  column-span: 8;
}
.th {
  font-size: 25px;
  text-align: start;
  background-color: #092e33;
  border: none;
  padding: 25px;
}

th {
  text-align: start;
  padding: 25px;
}
